YOUTUBE_API_KEY=your_youtube_api_key_here
YOUTUBE_CHANNEL_ID=
YOUTUBE_PLAYLIST_ID=

INSTAGRAM_ACCESS_TOKEN=your_instagram_access_token_here
INSTAGRAM_USER_ID=your_instagram_user_id

NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_YOUTUBE_URL=
